<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Add User</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#/userManagement" class="navbar-link">
                        User List
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" ng-model="q" class="form-control" placeholder="Search User">
                </div>
            </form>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<form>
    <div class="col-md-5">
        <div class="form-group">
            <label for="user_fullname">Full Name</label>
            <input type="text" class="form-control" id="user_fullname" placeholder="Full name">
        </div>
        <div class="form-group">
            <label for="user_name">Username</label>
            <input type="text" class="form-control" id="user_name" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" id="user_password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <label for="user_type">User Type</label>
            <select class="form-control" id="user_type">
                <option>User</option>
                <option>Administrator</option>
                <option>Developer</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    </div>
    <div class="col-md-7">
        <table class="table">
            <tr class="success">
                <th scope="row">Admissions</th>
                <td><input type="checkbox"> Add Student</td>
                <td><input type="checkbox"> Edit Student</td>
                <td><input type="checkbox"> Delete Student</td>
            </tr>
            <tr class="info">
                <th scope="row">Registrar</th>
                <td><input type="checkbox"> Access1</td>
                <td><input type="checkbox"> Access2</td>
                <td><input type="checkbox"> Access3</td>
            </tr>
            <tr class="warning">
                <th scope="row">Library</th>
                <td><input type="checkbox"> Access1</td>
                <td><input type="checkbox"> Access2</td>
                <td><input type="checkbox"> Access3</td>
            </tr>
            <tr class="danger">
                <th scope="row">Finance</th>
                <td><input type="checkbox"> Access1</td>
                <td><input type="checkbox"> Access2</td>
                <td><input type="checkbox"> Access3</td>
            </tr>
        </table>
    </div>

</form>
