<style type="text/css">

    #menu-link-effect-inner a {
        font-family: 'Raleway', sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 0px;
        outline: none;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        font-size: 1.10em;
    }

    .cl-effect-7 a::before, .cl-effect-7 a::after{
        background: none repeat scroll 0 0 white;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }
</style>

<div class="jumbotron" style="color: white; font-family: 'Raleway', sans-serif; background: #65BADB">
    <h1><i class="fa fa-pencil-square-o"></i> Admissions</h1>

    <p>Enroll Student, Conduct tests, and Course Placement.</p>

    <p>

    <div id="menu-link-effect-inner">
        <section class="color-1" style="background: #65BADB; text-align: left">
            <nav class="cl-effect-7">
                <a href="#/enrollment" role="button">Applicant List</a>
                <a href="#/addStudent" role="button">Admit a student</a>
                <a href="#/receiveRequirements" role="button">Receive Requirements</a>
            </nav>
        </section>
        <!-- mainmenu -->
    </div>
    </p>
</div>

