<style type="text/css">

    #menu-link-effect-inner a {
        font-family: 'Raleway', sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 10px;
        outline: none;
        color: #435A6B;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        font-size: 1.10em;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }
</style>
<h2 style="margin: 0px">Enrollment</h2>
<br/>
<div id="menu-link-effect-inner">
    <section class="color-1" style="background: white; text-align: left">
        <nav class="cl-effect-7">
            <a href="#/enrollment" role="button">Student List</a>
            <a href="#" role="button">Admit a student</a>
            <a href="#" role="button">Receive Requirements</a>
        </nav>
    </section>
    <!-- mainmenu -->
</div>
<hr/>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default row" ng-repeat="student in admissionService.students">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="col-lg-4" style="text-align: left">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" onclick="return false;"
                       href="#enrollment{{student.student_id}}" aria-expanded="true"
                       aria-controls="enrollment{{student.student_id}}">
                        <strong style="font-size: 20px;">{{student.student_firstname}}
                            {{student.student_lastname}}</strong>
                    <span style="color: limegreen;font-size: 20px; " ng-if="student.student_status == 1"
                          class="glyphicon glyphicon-ok"></span>
                    <span style="color: red;font-size: 20px; " ng-if="student.student_status == 0"
                          class="glyphicon glyphicon-remove"></span>
                    </a>
                    <br/>
                    {{student.student_number}}
                    <br/>

                </h4>
            </div>
            <div class="col-lg-8" style="text-align: right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><span style="font-size: 24px;"
                                                                        class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-default"><span style="font-size: 24px; color: red; "
                                                                        class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div id="enrollment{{student.student_id}}" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="headingOne" style="font-family: 'Raleway', sans-serif;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{student.student_firstname}} {{student.student_lastname}}</h2>

                        <p><strong>Gender: </strong> {{student.student_gender}}</p>

                        <p><strong>Birthdate: </strong> {{student.student_birthdate}} </p>

                        <p><strong>Age: </strong> {{student.student_age}} </p>

                        <p><strong>Nationality: </strong> {{student.student_nationality}} </p>

                        <p><strong>Language: </strong> {{student.student_language}} </p>

                        <p><strong>Religion: </strong> {{student.student_religion}} </p>

                        <p><strong>Skills: </strong>
                            <span class="label label-info tags">html5</span>
                            <span class="label label-info tags">css3</span>
                            <span class="label label-info tags">jquery</span>
                            <span class="label label-info tags">bootstrap3</span>
                        </p>

                        <p>
                        <address>
                            <strong>Address</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        </p>


                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img style="border: 3px solid #435A6B" src="{{globals.rootUrl}}/images/sample/profilepic.png"
                             alt="" class="center-block img-circle img-responsive">

                    </div>
                    <hr/>
                    <!--/col-->

                    <div class="col-xs-12 col-sm-4">
                        <h2><strong> 20,7K </strong></h2>

                        <p>
                            <small>Followers</small>
                        </p>
                        <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow
                        </button>
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <h2><strong>245</strong></h2>

                        <p>
                            <small>Following</small>
                        </p>
                        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile</button>
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <h2><strong>43</strong></h2>

                        <p>
                            <small>Snippets</small>
                        </p>
                        <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options
                        </button>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/panel-body-->
        </div>
    </div>

</div>