<style type="text/css">

    #menu-link-effect-inner a {
        font-family: 'Raleway', sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 10px;
        outline: none;
        color: #435A6B;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        font-size: 1.10em;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }

    h4 {
        padding-left: 10px !important;
    }

    .panel-title {
        padding-left: 0px !important;
    }
</style>
<div style="font-family: 'Raleway', sans-serif;">
    <h2 style="margin: 0px">Conduct Tests</h2>
    <br/>

    <div id="menu-link-effect-inner">
        <section class="color-1" style="background: white; text-align: left">
            <nav class="cl-effect-7">
                <a href="#/makeTest" role="button">Make a test</a>
                <a href="#/testPreference" role="button">Test Templates</a>
                <!--<a href="#" role="button">Receive Requirements</a>-->
            </nav>
        </section>
        <!-- mainmenu -->
    </div>
    <hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default row">
            <div class="panel-heading" role="tab" id="headingOne">
                <div style="text-align: left">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" onclick="return false;"
                           href="#test" aria-expanded="true"
                           aria-controls="test">
                            Entrance Test
                        </a>
                    </h4>
                </div>
            </div>
            <div id="test" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne" style="font-family: 'Raleway', sans-serif;">
                <div class="panel-body">
                    sadf
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
        </div>

    </div>
</div>
